<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"> 
    <title>Cadastro</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado sempre após o CSS do bootstrap-->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    
    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="col-md-3">
                <form class="d-flex">
                    <input class="form-control mr-sm-2" type="search"  aria-label="Buscar">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
            </div>
           
          </nav>
    </div>
    <br>
    <div class="container text-center">
        <h1>Cadatro de Clientes</h1>
    </div>

    <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Primeiro nome</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nome" value="Mark" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Sobrenome</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Sobrenome" value="Otto" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Usuário</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuário" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault03">Cidade</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault04">Estado</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="Estado" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault05">CEP</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="CEP" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Concordo com os termos e condições
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    
    

    


    


    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="icone do banco">
    </footer>


    <script src="../public/js/bootstrap.min.js"></script>

    <!--Processo de renderização-->
    <script src="../views/renderer.js"></script>

</body>
</html>