<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"> 
    <title>Cadastro</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado sempre após o CSS do bootstrap-->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    
    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="col-md-3">
                <form class="d-flex">
                    <input class="form-control mr-sm-2" type="search"  aria-label="Buscar">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
            </div>
           
          </nav>
    </div>
    <br>
    <div class="container text-center">
        <h1>Cadatro de Clientes</h1>
    </div>

    <form>
        <div class="form-row d-flex">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Nome Completo:</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nome" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">CPF:</label>
            <input type="text" class="form-control" id="cpf" placeholder="CPF" maxlength="50" required>
          </div>
          
          <div class="col-md-4 mb-3 text-center">
            <label for="cemail">E-mail: </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuário" aria-describedby="inputGroupPrepend2" required>
            </div>
            <label for="cfone">Telefone:</label>
                <input type="tel" name="fone" id="cfone" size="30" maxlength="50" placeholder="Digite seu telefone" required>
          </div>
          
        </div>
        <fieldset class="endereco">
                <h2 class="text-dark"> Endereço </h2>
    
         <p>       
        <label for="cep">CEP:</label>
        <input type="text" id="cep" maxlength="9" onblur="buscarEndereco()" required>
        </p>
        <p>
        <label for="logradouro">Logradouro:</label>
        <input type="text" id="logradouro">
        </p>
        <p>
        <label for="cnum">Número: </label>
        <input type="number" name="num" id="cnum"
        min="0" max="99999" required>
        </p>
        <p>
        <label for="cnum">Complemento: </label>
        <input type="text" name="text" id="ccomp"
        min="0" max="99999">
        </p>
        <p>
        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro">
        </p>
        <p>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade">
        </p>
            <label for="uf">UF:</label>
            <select id="uf">
                <option value="Selecione">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
            
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Concordo com os termos e condições
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    
    

    


    


    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="icone do banco" id="iconeDB">
    </footer>


    <script src="../public/js/bootstrap.min.js"></script>

    <!--Processo de renderização-->
    <script src="../views/renderer.js"></script>

</body>
</html>